

body {
    background-color: #fff;
    margin: 0;
}
 
h1 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.page-header {
    background-color: #fb4;
    padding: 10px;
    margin: 0;
}

.body {
    margin:10px;
}


.error {
    color: #900000;
    background-color: #fdd;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 100;
    border: 1px solid #fcc;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.error:empty {
    display: none;
}

.no-error {
    color: #009000;
    background-color: #dfd;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 100;
    border: 1px solid #bfb;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.no-error:empty {
    display: none;
}

.status {
    color: #000;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.status:empty {
    display: none;
}

.text-muted {
    color: #777;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;

}

.panel-default {
    border-color: #e0e0e0;
    margin-bottom: 10px;
}


.panel-heading {
    background-color: #ffe080;
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-title {
    color: #333;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:0;
    margin-bottom:0;
}

.panel-body {
    padding: 2%;
}

.panel-code {
    margin-right: auto;
    width: 44%;
    float: left;
}

.panel-cpu-and-memory {
    width: 54%;
    float: right;
}

textarea {
    color: #444;
    background-color: #fff;
    font-size: 16px;
    font-family: 'Source Code Pro', 'Courier New', Courier, sans-serif;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    resize: none;
}


.line-numbers {
    margin-right: 0;
    width: 10%;
    float: left;
}

.lines-box {
    font-size: 16px;
    font-family: 'Source Code Pro', 'Courier New', Courier, sans-serif;
    text-align: right;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
    width: 80%;
    overflow: hidden;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.code {
    float: right;
    width: 90%;
}


.text-code {
    margin-bottom: 10px;
    max-width: 95%;
    min-width: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    overflow-x: hidden;
}


.console {
    margin-bottom: 10px;
    max-width: 95%;
    min-width: 30%;
    margin-top: 10px;
}

.button {
    color: #000;
    background-color: #fff;
    font-family: sans-serif;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    border-radius: 10px;
}

.button:hover {
    color: #000;
    background-color: #eee;
    border: 1px solid #d0d0d0;
}

.button:active {
    color: #000;
    background-color: #ddd;
    border: 1px solid #c0c0c0;
}

.button-assemble {
    padding: 15px 15px;
}

.button-run {
    padding: 15px 15px;
}

.button-step {
    padding: 15px 15px;
}

.button-base {
    padding: 15px 15px;
}

.button-pmem-up {
    padding: 15px 15px;
}

.button-pmem-down {
    padding: 15px 15px;
}

.button-toggle-opcode {
    padding: 15px 15px;
}

.button-dmem-top {
    padding: 15px 15px;
}

.button-dmem-bottom {
    padding: 15px 15px;
}

.button-dmem-up {
    padding: 15px 15px;
}

.button-dmem-down {
    padding: 15px 15px;
}

.button-clear-console {
    padding: 15px 15px;
}

.select {
    color: #000;
    background-color: #fff;
    font-family: sans-serif;
    border: 1px solid #e0e0e0; 
}

.select:hover {
    background-color: #ddd;
    border: 1px solid #c0c0c0; 
}

.select-step {
    font-size: 16px;
    border-radius: 10px;
    padding: 15px 15px;
}

tbody {
    border: 1px solid transparent;
}

.table {
    background-color: transparent;
}

th {
    color: #333;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #bbb;
}

td {
    color: #444;
    font-size: 18px;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    background-color: #ddd;
}

.table-reg {
    width: 100%;
    margin-top: 10px;
    table-layout: fixed;
}

.table-reg-heading {
    text-align: center;
    width: 25%;
}

.table-reg-body {
    text-align: center;
    margin: auto;
}

.table-reg-small {
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
}

.table-sreg {
    width: 100%;
    margin-top: 10px;
    table-layout: fixed;
}


.table-sreg-heading {
    text-align: center;
}

.table-sreg-body {
    text-align: center;
    margin: auto;
}

.table-other-values {
    width: 100%;
    margin-top: 10px;
    table-layout: fixed;
}

.table-other-values-heading {
    text-align: center;
    padding: 1%;
}

.table-other-values-heading-small {
    color: #fff;
    padding: 3%;
    border-radius: 5px;
}

.heading-PC {
    background-color:#4a5cff;
}

.heading-SP {
    background-color:#da920d;
}

.heading-X {
    background-color:#32bd32;
}

.heading-Y {
    background-color:#20a3a3;
}

.heading-Z {
    background-color:#bd0c47;
}

.table-other-values-body {
    text-align: center;
    margin: auto;
}

.pmem {
    float:left;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.table-pmem {
    width: 90%;
    overflow-y: scroll;
    table-layout: fixed;
}

.table-pmem-heading {
    text-align: center;
    width: 25%;
}

.table-pmem-heading-small {
    padding: 5%;
    border-radius: 5px;
}

.table-pmem-body {
    text-align: left;
    margin: auto;
}

.dmem {
    float:right;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.table-dmem {
    width: 90%;
    overflow-y: scroll;
    table-layout: fixed;
}

.table-dmem-heading {
    text-align: center;
    width: 18%;
}

.table-dmem-body {
    text-align: center;
    margin: auto;
}

.table-dmem-body-small {
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
}

.memory-configs {
    float: left;
    width: 10%;
    margin-right: 1%;
}

.title-select-dmem {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
}

.title-select-pmem {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
}

.input {
    color: #000;
    background-color: #fff;
    font-family: sans-serif;
    border: 1px solid #e0e0e0; 
}

.input-pmem {
    font-size: 10px;
    border-radius: 10px;
    padding: 5px 5px;
    width: 90%;
}

.input-dmem {
    font-size: 10px;
    border-radius: 10px;
    padding: 5px 5px;
    width: 90%;
}

.reg-value {
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    top: -30%;
    left: 50%;
    margin-left: 70px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0%;
    transform: rotate(90deg);
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.donate {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
    float: left;
}

.feedback {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
    float: left;
}
